<!DOCTYPE html>
<html>
<!-- hello world! -->
<head>
	<title>blog title - xxxx-xx-xx - Kilo! Blog</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/favicon.ico">
	<meta charset="UTF-8">
	<meta name="darkreader-lock">
	<meta name="title" content="blog title - xxxx-xx-xx - Kilo! - Blog">
	<meta name="description" content="some blog yap">
	<meta name="og:title" content="blog title - xxxx-xx-xx - Kilo! - Blog">
	<meta name="og:description" content="some blog yap">
	<meta name="theme-color" content="#cba6f7" data-react-helmet="true" />
	<link rel="icon" type="image/png" href="/favicon.ico" />
	<link rel="stylesheet" href="index.css">
	<script src="https://kit.fontawesome.com/826bd32be0.js" crossorigin="anonymous"></script>

</head>
<body>
	<script type="module">
	  import { rainbowCursor } from "https://unpkg.com/cursor-effects@latest/dist/esm.js";
	
	  new rainbowCursor();
	</script>
	<div class="centered">
		<h1 id="title"><a href="/">Kilo!</a> - Blog - xxxx-xx-xx</h1>
		<h2>blog title</h2>
		<p>blog yap</p>
	</div>
</body>
</html>
