<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>Omada's Blog - Post #</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="robots" content="index, follow, noai, noimageai">
    <!-- The Common Crawl dataset. Used by GPT-3 (and GPT-3.5) and available for others. -->
    <meta name="CCBot" content="nofollow"> 
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Omada">
    <meta name="og:title" property="og:title" content="Omada">
    <meta name="twitter:domain" property="twitter:domain" content="omada.cafe">
    <meta property="og:url" content="omada.cafe">
    <meta name="keywords" content="omada", "cafe", "foss", "tech", "IT", "I.T.", "Free", "Open", "Source", "Software", "Host", "group", "fedi", "fediverse", "blog">
	  <meta name="description" content="Omada - defying the test of time - making privacy online" />
    <meta property="og:description" content="Omada - defying the test of time - making privacy online">
    <meta name="twitter:description" property="twitter:description" content="Omada - defying the test of time - making privacy online">
    <meta property="og:site_name" content="Omada">
    <meta name="og:title" property="og:title" content="Omada">
    <meta name="twitter:domain" property="twitter:domain" content="omada.cafe">
    <link rel="stylesheet" href="/assets/styles.css">
  </head>
  <body>
    <header>
      <center>
        <img src="/kilo.png" alt="logo" style="margin-bottom:-16px;width: 141px;">
        <h1>Kilo</h1>
        <a href="/"><button>Back Home</button></a>
        <a href="/blog"><button>Back to Blog list</button></a>
      </center>
    </header>
    <main>
      man what <br>
      my last template was so good
    
      its as shrimple as that!

      but we can make this better can't we? (no we cant)

      man f this blog post? <br> it will take hours to read <br> no one will read this stuff
    </main>
    <div id="footer">
        <footer> <hr>
            <p style="padding-bottom: 10px;">
                Any abuse taking place can be reported, and will be taken care of within 12 hours
                <br><strong>Kilo</strong> <img src="/dl/img/aussie.jpg" alt="logo" style="margin-bottom:-2px;width: 41px;"> <a href="/contact/">Contact the Kilo </a> <!--·-->
            </p>
      </footer>
  </div>
</body>
</html>
